*

!README.md
!Makefile

!.config/
!.config/flake8
!.config/nvim/
!.config/nvim/init.vim
!.config/nvim/indent/
!.config/nvim/indent/*
!.config/nvim/ftplugin/
!.config/nvim/ftplugin/*
!.gitconfig
!.gitignore
!.gitignore_global
!.spacemacs
!.tmux.conf
!.zsh/
!.zsh/theme.zsh
!.zshrc
