[user]
    name = Akshay Shah
    email = akshay@akshayshah.org
[core]
    pager = "diff-so-fancy | less --tabs=4 -RFX"
    excludesfile = ~/.gitignore_global
    autocrlf = input
[init]
    defaultBranch = main
[branch]
    autosetupmerge = always
    autosetuprebase = always
[fetch]
    prune = true
[push]
    default = simple
[rerere]
    enabled = true
[diff]
    algorithm = patience
[format]
    pretty = format:%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset
    abbrev-commit = true
    date = relative
[alias]
    a = add
    amend = commit -a --amend
    c = commit
    co = checkout
    recent = for-each-ref --sort='-authordate:iso8601' --format='%(authordate:relative)%09%(refname:short)' refs/heads
    rmbranch = branch -D
    graph = log --graph
    l = log origin/main..
    ls = branch -v
    popf = checkout "stash@{0}" --
    pr = !hub pull-request
    review = diff --staged
    s = status
    smarten = rebase -i origin/main
    stashall = stash --include-untracked
    undo = reset --mixed HEAD^
    wip = !git add -u . && git commit -m 'WIP'
    wipe = !git add -A && git commit -qm 'Wipe savepoint' && git reset --hard HEAD^
    wtf = log --follow --stat -p
[github]
    user = akshayjshah
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[sequence]
    editor = ~/.restack/edit.sh
