*

!README.md
!Makefile

!.aspell.*
!.config/
!.config/flake8
!.config/nvim/
!.config/nvim/init.vim
!.en_us.utf-8.add
!.gitconfig
!.gitignore
!.gitignore_global
!.tmux.conf
!.zsh/
!.zsh/theme.zsh
!.zshrc
