*

!README.md
!Makefile

!.bash_profile
!.bashrc
!.bash/
!.bash/bazel-completion.bash
!.config/
!.config/alacritty
!.config/alacritty/alacritty.yml
!.config/flake8
!.config/fontconfig/
!.config/fontconfig/conf.d/
!.config/fontconfig/conf.d/10-powerline-symbols.conf
!.config/oni
!.config/oni/config.tsx
!.hammerspoon/
!.hammerspoon/*.lua
!.config/nvim/
!.config/nvim/init.vim
!.en_us.utf-8.add
!.gitconfig
!.gitignore
!.gitignore_global
!.tmux.conf
