[user]
    name = Akshay Shah
    email = akshay@akshayshah.org
[core]
    pager = delta
    excludesfile = ~/.gitignore_global
    autocrlf = input
    difftool = true
[interactive]
    diffFilter = delta --color-only
[init]
    defaultBranch = main
[branch]
    autosetupmerge = always
    autosetuprebase = always
[fetch]
    prune = true
[push]
    default = simple
[rerere]
    enabled = true
[merge]
    conflictstyle = diff3
[diff]
    algorithm = patience
    colorMoved = default
    tool = difftastic
[difftool]
    prompt = false
[difftool "difftastic"]
    cmd = difft "$LOCAL" "$REMOTE"
[format]
    pretty = format:%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset
    abbrev-commit = true
    date = relative
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[alias]
    a = add
    amend = commit -a --amend
    blmain = config branchless.mainBranch main
    c = commit
    co = checkout
    difft = difftool
    l = log origin/main..
    ls = branch -v
    popf = checkout "stash@{0}" --
    pr = !gh pr create --reviewer
    recent = for-each-ref --sort='-authordate:iso8601' --format='%(authordate:relative)%09%(refname:short)' refs/heads
    review = diff --staged
    rmbranch = branch -D
    smarten = rebase -i origin/main
    s = status
    stashall = stash --include-untracked
    wipe = !git add -A && git commit -qm 'Wipe savepoint' && git reset --hard HEAD^
    wip = !git add -u . && git commit -m 'WIP'
    wtf = log --follow --stat -p
[github]
    user = akshayjshah
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[advice]
	skippedCherryPicks = false
[delta]
    navigate = true
[http]
	cookiefile = /Users/ashah/.gitcookies
